.image-tag{
    width: 80px;
    height: 80px;
}
.image-tag1{
    width: 100%;
    height: 450px;
    
}
.container1{
    display:flex;
    flex-direction: row;
    border-bottom:5px solid rgb(221, 216, 216);
        }
.day1{
    font-family: "garamond,serif";
    font-size: 50px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-right: 10px;
    margin-left: 25px;
}
.container2{
  position: absolute;
  /* bottom: -10px; */
  top:75%;
  
  width: 100%;
  right: -15px;
  color: black;
  background-color: white;
}
.container3 li{
    border-bottom:2px solid rgb(202, 201, 201);
    padding: 8px;
    content:\00AB;
    
    
}
.container4{
    border-bottom:2px solid rgb(202, 201, 201);
    padding: 8px;
    margin-left: 23px;
    
}
.list li::before{
    content: "\00BB";
    margin-left: -20px;
}
.container5 td{
    padding-left: 20px;
}
.image-tag3{
    width: 200px;
    height: 200px;
}
.image-tag4{
    width: 150px;
    float:left;
    
}
.day2{
    border-bottom:5px solid rgb(212, 209, 209);
    border-top:2px solid rgb(209, 198, 198);
    padding: 8px;
}
@media(max-width:1200px){
    .list-Container span{
      margin: 0px;
    }
}
